*{
    margin: 0;
    padding: 0;
    color: white;
}
header{
    height: 500px;
    border: 2px solid red;
    width: 100vw;
}
.background{
    /* border: 2px solid blue; */
    height: 500px;
    background-image: url(https://wallpapers.com/images/hd/food-photography-background-kepimuxrxth4bjjw.jpg);
     background-repeat: no-repeat;
     background-size: cover;
}
.leftnav{
    /* border: 2px solid blue; */
    width: 500px;
    position: absolute;
    top: 2%;
    left: 5%;
}
.leftnav a{
    text-decoration: none;
    position: relative;
    top: -37px;
}
.leftnav li{
    list-style: none;
    display: inline-block;
    
    margin: 6px;
    padding: 5px;
}
.leftnav img{
    height: 97px;
    width: 120px;
}
.rightnav{
    /* border: 2px solid red; */
    position:absolute;
    top: 59px;
    right: 4%;
    width: 650px;
    
}
.rightnav a{
    text-decoration: none;
    
    width: 35px;
    font-size: 21px;
    
    
}
.rightnav li{
    list-style: none;
    display: inline;
    padding: 25px;
}
.mainheading{
    border: 2px solid blue;
    position: absolute;
    top: 32%;
    width: 600px;
    text-align: center;
    
    
    left: 30%;

    
    
}
.mainheading h1{
    font-size: 78px;
    font-style: italic;
    margin: auto;
}